.wrapper {
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
}
html {
    background-image: url(foto/markies_web_12.jpg);
    background-size: cover;
    height: auto 
}
body {
    text-emphasis: white;
    height: auto;
}

header {
    height: 60px;
    background-color: darkgreen;
    left: 0px;
    width: 100%;

}
nav {
    display: flex;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    justify-content: center;
    color: white;
    padding: 60px;
    height: auto;
}

footer {
    padding-top: 2px;
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    background: darkgreen; /* background with 0.5 opacity */
    height: 50px;
    padding-left: 120px;
    padding-right: 80px;
}

header>a {
    padding-top: 20px;
    float: right;
    width: 100px;
    color: rgb(255, 255, 255);
    text-size-adjust: 12px;
    text-align: center;
    text-decoration: none;
}

header>a:hover {
    color: rgb(252, 255, 73);
}

main {
    display: auto;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    padding: 20px;
    width: 96%;
    height: 460px;
    border: 0px;
}

.over_ons_table {
     width: 80%;
}

.over_ons_zoeken-ingredienten {
     width: 10%;
}

.aangeraden {
     width: 10%;
}

.kaarthaluk {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color: white;
    align-items: center;
}

.infohaluk {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    
}

a {
    color: currentColor;
}

.formhaluk {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

.formhaluk div {
    padding: 3px;
}

table {
    height: auto;
    border: 0px;
    margin-left: auto;
    margin-bottom: 100px;
}

.loginhaluk{
    padding-left: 50px;
    color: white;
}

.loginhaluk div {
    padding: 3px;
}

.loginhaluk label {
    padding-right: 20px;
    width: 300px;
}