.productenpaginaswrapper {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    height: 400px;
    font-size: larger;
}

.eerstecolumn {
    width: 15%;
}

.tweedecolumn {
    width: 15%;
}

.derdecolumn {
    width: 15%;
}

.vierdecolumn {
    width: 55%;
}

.productenpaginasbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


button {
    width: 300px;
    height: 50px;
    margin-left:20px ;
    margin-right: 20px;
}

.vierdecolumn {
    display: flex;
    flex-direction: column;
}

.koudecolumn {
    width: 45%;
}

.koudetweedecolumn {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.afbeelding {
    justify-content: center;
    border: solid;
    background-color: white;
    align-content: center;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80%;
    margin: 50px;

}

.prijs {
    border: solid;
    background-color: white;
    height:10% ;
    margin: 50px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.stuk {
    margin: 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    height: 10%;
}

div.productenpaginasplus {
    width: 30%;
}

div.productenpaginasstuk {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
}
html {
    
    background-size: cover;
    height: auto 
}
body {
    background-image: url(foto/markies_web_12.jpg);
    text-emphasis: white;
    height: auto;
}

body.no-background {
    background-image: none;
}
header {
    height: 60px;
    background-color: rgb(216, 215, 150);

}
nav {
    display: flex;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    justify-content: center;
    color: white;
    padding: 60px;
    height: auto;
}
footer {
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    background: grey; /* background with 0.5 opacity */
    height: auto;
    padding-left: 120px;
    padding-right: 80px;
}

header>a {
    padding-top: 20px;
    float: right;
    width: 100px;
    color: mediumorchid;
    text-size-adjust: 12px;
    text-align: center;
    text-decoration: none;
}

header>a:hover {
    color: tomato;
}

main {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    padding-left: 20px;
    padding-bottom: 20px;
}
.over_ons_table {
     width: 80%;
}

.over_ons_zoeken-ingredienten {
     width: 10%;
}

.aangeraden {
     width: 10%;
   
}

table {
    border:1px solid black;
    height: auto;
    border: 0px;
    margin: 15px;
}
.row {
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    color: white;
    padding-bottom: 50px;
}
.informatie {
    width: 33%;
    padding-left: 10px;
}
.rowStartPagina {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .columnStartPagina {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }